/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body {
    margin: 0;
    background: lightgrey;
}

.horizontalPanel {
    margin: 20px;
}

.westVerticalPanel {
    margin: 20px;
}

.labelCinema {
    font-size: 50px;
    font-weight: normal;
    text-shadow: 1px 1px white,
    2px 2px #777;
    color: #333;
    transition: all 1s;
}

.dockpanel td {
    border: 1px solid #BBBBBB;
    padding: 3px;
}

.labelWestAndEast {
    font-size: 25px;
}

.labelCenter {
    font-size: 20px;
}
